.top-right-container {
    position: fixed;
    top:176px;;
    right: 10px;
    text-align: right;
    padding: 0rem 1rem;
    box-shadow: 0px 0px 10px;
  }
  

  .user-post-count {
    border: 2px solid red;
    padding: 3px 9px;
    margin: 10px 1px;
    font-weight: bold;
    /* margin-right: 10px; */
    font-size: 20px;
  }

  .textWel{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    background-image: url(/src/Component/color.jpeg);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
  }

  .postImage{
    border: 8px double;
    height: 228px;
    width: 516px;
    margin-top: 10px;
  }
  @media screen and (max-width: 1300px) {
  
    .postImage{
      border: 8px double;
      width: 100%;
      margin-top: 10px;
    }
    
  }
  .postImage2 {
    /* display: flex; */
    width: 80%;
    align-items: center;
    justify-content: center;
}



  .Post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

  .card-container{
    border-radius: 60px;
    margin: 22px 0px;
    box-shadow: 0px 0px 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 50%;
  }
  .postContant {
    padding: 0px 11px;
}
.postContant h3 {
  font-size: 37px;
  padding: 0px;
  margin: 8px 0px;
  font-family: emoji;
}
.postContant p {
  font-size: initial;
  font-family: cursive;
}
.postButtons {
  /* display: flex; */
  /* flex-direction: row; */
  text-align: center;
  /* justify-content: space-around; */
}
.PostBtn{
  align-items: center;
  justify-content: center;
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 10px;
}

/* Styles for screens less than 400px */
@media screen and (max-width: 450px) {
 
.card-container {
    margin: 22px 0px;
    box-shadow: 0px 0px 10px;
    width: 70%;
}

}


.userInfo {
  font-size: large;
  padding: 11px;
}
.PostBtn i, .PostBtn button {
  margin: 4px 11px;
  padding: 0px 4px;
}

